{%include 'website/navbar.html'%}

  <main class="main">

    <!-- Page Title -->
    <div class="page-title dark-background" data-aos="fade" style="background-image: url(static/assets/img/page-title-bg.jpg);">
      <div class="container position-relative">
        <h1>About</h1>
        <p>We provide our customers best way to park their vehicle, at best location, anywhere, anytime, with ease and peace </p>
        <nav class="breadcrumbs">
          <ol>
            <li><a href="index.html">Home</a></li>
            <li class="current">About</li>
          </ol>
        </nav>
      </div>
    </div><!-- End Page Title -->

    <!-- About Section -->
    <section id="about" class="about section">

      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-6 position-relative align-self-start order-lg-last order-first" data-aos="fade-up" data-aos-delay="200">
            <img src="static/assets/img/about.jpg" class="img-fluid" alt="">
            <a href="https://www.youtube.com/watch?v=Y7f98aduVJ8" class="glightbox pulsating-play-btn"></a>
          </div>

          <div class="col-lg-6 content order-last  order-lg-first" data-aos="fade-up" data-aos-delay="100">
            <h3>About Us</h3>
            <p>
              At VehiScan, we revolutionize parking with cutting-edge AI and computer vision technology. Our real-time parking service detects available spots instantly, ensuring a hassle-free experience for drivers. By leveraging smart automation, we optimize parking efficiency, reduce congestion, and save valuable time. Whether you're in a busy city or a commercial space, VehiScan helps you find the best parking spot effortlessly.
              Say goodbye to endless searching — park smarter with VehiScan!
            </p>
            <ul>
              <li>
                <i class="bi bi-diagram-3"></i>
                <div>
                  <h5> Real-Time Parking Detection</h5>
                  <p>Instantly identifies available parking spots using AI-powered computer vision</p>
                </div>
              </li>
              <li>
                <i class="bi bi-fullscreen-exit"></i>
                <div>
                  <h5>Smart Location Tracking</h5>
                  <p>Finds the nearest parking spaces based on your location</p>
                </div>
              </li>
              <li>
                <i class="bi bi-broadcast"></i>
                <div>
                  <h5>Live Occupancy Updates</h5>
                  <p> 
                    Continuously updates parking availability for accurate information</p>
                </div>
              </li>
            </ul>
          </div>

        </div>

      </div>

    </section><!-- /About Section -->

    <!-- Stats Section -->
    <section id="stats" class="stats section">

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4">

          <div class="col-lg-3 col-md-6">
            <div class="stats-item text-center w-100 h-100">
              <span data-purecounter-start="0" data-purecounter-end="232" data-purecounter-duration="1" class="purecounter"></span>
              <p>Clients</p>
            </div>
          </div><!-- End Stats Item -->

          <div class="col-lg-3 col-md-6">
            <div class="stats-item text-center w-100 h-100">
              <span data-purecounter-start="0" data-purecounter-end="5000" data-purecounter-duration="1" class="purecounter"></span>
              <p>Users</p>
            </div>
          </div><!-- End Stats Item -->

          <div class="col-lg-3 col-md-6">
            <div class="stats-item text-center w-100 h-100">
              <span data-purecounter-start="0" data-purecounter-end="1453" data-purecounter-duration="1" class="purecounter"></span>
              <p>Hours Of Support</p>
            </div>
          </div><!-- End Stats Item -->

          <div class="col-lg-3 col-md-6">
            <div class="stats-item text-center w-100 h-100">
              <span data-purecounter-start="0" data-purecounter-end="32" data-purecounter-duration="1" class="purecounter"></span>
              <p>Workers</p>
            </div>
          </div><!-- End Stats Item -->

        </div>

      </div>

    </section><!-- /Stats Section -->

    <!-- Team Section -->
    <section id="team" class="team section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <span>Our Team<br></span>
        <h2>Our Team</h2>
        <p>At VehiScan, we’re a passionate group of innovators, engineers, and problem-solvers dedicated to revolutionizing the parking experience. Our diverse team works tirelessly to bring you the best in AI-powered parking solutions. Meet the brilliant minds behind VehiScan</p>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row">

          <div class="col-lg-4 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="100">
            <div class="member">
              <img src="static/assets/img/team/team-1.jpg" class="img-fluid" alt="">
              <div class="member-content">
                <h4>Imran Khan</h4>
                <span>Operational Manager</span>
                <p>
                  David oversees the daily operations of VehiScan, ensuring smooth coordination between departments. His background in operations management and process optimization ensures that the company runs efficiently and delivers on its promises to customers and partners.
                </p>
                <div class="social">
                  <a href=""><i class="bi bi-twitter-x"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div><!-- End Team Member -->

          <div class="col-lg-4 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="200">
            <div class="member">
              <img src="static/assets/img/team/team-2.jpg" class="img-fluid" alt="">
              <div class="member-content">
                <h4>Sarah Jhinson</h4>
                <span>Software Engineer</span>
                <p>
                  Sophia is a core part of the engineering team at VehiScan. She specializes in developing the algorithms that power our app’s real-time updates and navigation system. Her innovative solutions make the VehiScan platform fast and reliable for users everywhere.
                </p>
                <div class="social">
                  <a href=""><i class="bi bi-twitter-x"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div><!-- End Team Member -->

          <div class="col-lg-4 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="300">
            <div class="member">
              <img src="static/assets/img/team/team-3.jpg" class="img-fluid" alt="">
              <div class="member-content">
                <h4>Waris Shah</h4>
                <span>AI Researcher</span>
                <p>
                  James spearheads our AI research and development team. With a PhD in computer vision, he is focused on enhancing our AI’s ability to detect available parking spots with precision, ensuring that VehiScan remains a leader in real-time parking detection.
                </p>
                <div class="social">
                  <a href=""><i class="bi bi-twitter-x"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div><!-- End Team Member -->

        </div>

      </div>

    </section><!-- /Team Section -->

   {% comment %} Testimonials Section {% endcomment %}
   {%include 'website/testimonials.html'%}
   {% comment %} Frequently Asked Questions Section {% endcomment %}
   {%include 'website/faqs.html'%}

  </main>

 {%include 'website/footer.html'%}