 <!-- Faq Section -->
 <section id="faq" class="faq section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
      <span>Frequently Asked Questions</span>
      <h2>Frequently Asked Questions</h2>
      <p>These are some of the Questions Frequently Asked by our Dear Customers</p>
    </div><!-- End Section Title -->

    <div class="container">

      <div class="row justify-content-center">

        <div class="col-lg-10">

          <div class="faq-container">

            <div class="faq-item faq-active" data-aos="fade-up" data-aos-delay="200">
              <i class="faq-icon bi bi-question-circle"></i>
              <h3>What is VehiScan?</h3>
              <div class="faq-content">
                <p>VehiScan is an AI-powered platform that helps drivers find available parking spaces in real-time. It uses computer vision technology to identify open spots and provides smart navigation to guide drivers to their destination.</p>
              </div>
              <i class="faq-toggle bi bi-chevron-right"></i>
            </div><!-- End Faq item-->

            <div class="faq-item" data-aos="fade-up" data-aos-delay="300">
              <i class="faq-icon bi bi-question-circle"></i>
              <h3>How Does VehiScan Works?</h3>
              <div class="faq-content">
                <p>VehiScan detects parking availability through AI and computer vision technology. It continuously updates parking occupancy in real-time, and users can view available spots, navigate to them, and pay through the app.</p>
              </div>
              <i class="faq-toggle bi bi-chevron-right"></i>
            </div><!-- End Faq item-->

            <div class="faq-item" data-aos="fade-up" data-aos-delay="400">
              <i class="faq-icon bi bi-question-circle"></i>
              <h3>How can I find a parking spot using VehiScan?</h3>
              <div class="faq-content">
                <p>Simply open the VehiScan website, allow location access, and the system will show you a list of available parking spaces near your current location. You can then choose your preferred spot and follow the navigation directions.</p>
              </div>
              <i class="faq-toggle bi bi-chevron-right"></i>
            </div><!-- End Faq item-->

            <div class="faq-item" data-aos="fade-up" data-aos-delay="500">
              <i class="faq-icon bi bi-question-circle"></i>
              <h3>Is there a fee for using vehiscan?</h3>
              <div class="faq-content">
                <p>While the app is free to use, there may be a parking fee depending on the location and availability. Payments for parking can be made directly through to the park counter .</p>
              </div>
              <i class="faq-toggle bi bi-chevron-right"></i>
            </div><!-- End Faq item-->

            <div class="faq-item" data-aos="fade-up" data-aos-delay="600">
              <i class="faq-icon bi bi-question-circle"></i>
              <h3>How can I register my parkig Lot with VehiScan?</h3>
              <div class="faq-content">
                <p>To register your parking lot, simply visit our business registration page and provide the required details, including location, available spaces, pricing, and contact information. Our team will guide you through the process.</p>
              </div>
              <i class="faq-toggle bi bi-chevron-right"></i>
            </div><!-- End Faq item-->

          </div>

        </div>

      </div>

    </div>
  </section><!-- /Faq Section -->