 <!-- Featured Services Section -->
 <section id="featured-services" class="featured-services section">

    <div class="container">

      <div class="row gy-4">

        <div class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up" data-aos-delay="100">
          <div class="icon flex-shrink-0"><i class="fa-solid fa-location-dot"></i></div>
          <div>
            <h4 class="title">Smart Location Tracking</h4>
            <p class="description">Uses Google map to find the nearest parking spaces, ensuring quick and convenient access</p>
            {% comment %} <a href="#" class="readmore stretched-link"><span>Learn More</span><i class="bi bi-arrow-right"></i></a> {% endcomment %}
          </div>
        </div>
        <!-- End Service Item -->

        <div class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up" data-aos-delay="200">
          <div class="icon flex-shrink-0"><i class="fa-solid fa-truck"></i></div>
          <div>
            <h4 class="title">Real time Updates</h4>
            <p class="description">Provides real-time data on parking space availability, keeping you informed at all times.</p>
            {% comment %} <a href="#" class="readmore stretched-link"><span>Learn More</span><i class="bi bi-arrow-right"></i></a> {% endcomment %}
          </div>
        </div><!-- End Service Item -->

        <div class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up" data-aos-delay="300">
          <div class="icon flex-shrink-0"><i class="fa-solid fa-truck-ramp-box"></i></div>
          <div>
            <h4 class="title">Check Space Availability</h4>
            <p class="description">Check Space Availability according to your vehicle time. Park your vehicle without any hassle.</p>
            {% comment %} <a href="#" class="readmore stretched-link"><span>Learn More</span><i class="bi bi-arrow-right"></i></a> {% endcomment %}
          </div>
        </div><!-- End Service Item -->

      </div>

    </div>

  </section>
  <!-- /Featured Services Section -->


   <!-- Services Section -->
   <section id="services" class="services section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
      <span>Our Services<br></span>
      <h2>Our ServiceS</h2>
      <p>We Make Your life Easier using technology.</p>
    </div><!-- End Section Title -->

    <div class="container">

      <div class="row gy-4">

        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
          <div class="card">
            <div class="card-img">
              <img src="static/assets/img/service-1.jpg" alt="" class="img-fluid">
            </div>
            <h3>Real-Time Parking Availability Detection</h3>
            <p>VehiScan continuously monitors parking areas using AI-powered computer vision to detect available spots. This ensures that users get instant updates on vacant parking spaces, eliminating the frustration of searching for a spot.
            </p>
          </div>
        </div><!-- End Card Item -->

        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
          <div class="card">
            <div class="card-img">
              <img src="static/assets/img/service-2.jpg" alt="" class="img-fluid">
            </div>
            <h3><a href="#" class="stretched-link">Helping Parking Businesses Reach More Customers</a></h3>
            <p>VehiScan not only simplifies parking for drivers but also empowers parking lot owners and businesses to maximize their reach and revenue.</p>
          </div>
        </div><!-- End Card Item -->

        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
          <div class="card">
            <div class="card-img">
              <img src="static/assets/img/service-3.jpg" alt="" class="img-fluid">
            </div>
            <h3><a href="#" class="stretched-link">Smart Navigation Assistance</a></h3>
            <p>The application integrates GPS-based navigation to guide drivers to the nearest available parking spot. This feature saves time and ensures a seamless parking experience.
            </p>
          </div>
        </div><!-- End Card Item -->

      </div>

    </div>

  </section><!-- /Services Section -->
