{%include 'website/navbar.html'%}

  <main class="main">

    <!-- Page Title -->
    <div class="page-title dark-background" data-aos="fade" style="background-image: url(static/assets/img/page-title-bg.jpg);">
      <div class="container position-relative">
        <h1>Services</h1>
        <p>We provide our customers best way to park their vehicle with ease, and help our clients grow their Parking Business.</p>
        <nav class="breadcrumbs">
          <ol>
            <li><a href="index.html">Home</a></li>
            <li class="current">Services</li>
          </ol>
        </nav>
      </div>
    </div><!-- End Page Title -->

    <!-- Featured Services Section -->
    {%include 'website/featured-services.html'%}
    <!-- /Featured Services Section -->


    <!-- Testimonials Section -->
    {%include 'website/testimonials.html'%}
    <!-- /Testimonials Section -->

    <!-- Faq Section -->
    {%include 'website/faqs.html'%}
    <!-- /Faq Section -->

  </main>

  {%include 'website/footer.html'%}